<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <style>
        #box {
            height: 100px;
            width: 200px;
        }
    
    </style>
    <div>
        <form action="/answerInput" method="POST">
        <h4>What do you think? Answer below</h4>
        <p><%= checked %></p><br>
        <input id="box" type="textarea" name="answer" autocomplete="off">
        <input type="submit">
        </form>
    </div>
</body>
</html>