<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/answerInput" method="POST">
        <h4>Answer the question!</h4>
        <p><%= checked %></p><br>
        <input type="textarea" name="answer">
        <input type="submit">
        </form>
    </div>
</body>
</html>