<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <body>
        <div>
            <p>Here goes the content<br> <%= data %></p><br>
        </div>
        <div>
            <p>Here goes the content<br> <%= data1 %></p><br>
        </div>
        <div>
             <p>Here goes the content<br> <%= data2 %></p><br>
        </div>
        <div>
             <p>Here goes the content<br> <%= data3 %></p><br>
        </div>
    </body>
</html>